/* You can add global styles to this file, and also import other style files */
$full-height: 100%
$full-width: 100%

body
    min-height: $full-height
    width: $full-width
    font-family: 'Montserrat', sans-serif
    margin: 0

html
    height: $full-height
    width: $full-width